.dropdown-menu {
    width: 100%;
    position: absolute;
    z-index: 50;
    margin-top: .1rem;
    max-height: 20rem;
    overflow: auto;
    background: $white;
    border-radius: .5rem;
    box-shadow: $shadow;
    border: 1px solid $grey-lighter;
}

.dropdown-item {
    @extend .is-clickable;

    display: flex;
    align-items: center;
    padding: $size-7;

    &.selected {
        background: $blue;

        * {
            color: $white;
        }
    }
}