$family-sans-serif: 'Fira Sans', sans-serif;
$family-monospace: 'Ubuntu Mono', monospace;

$text: $black-ter;
$text-strong: $black-ter;

$blue: #0071EB;

$primary: $blue;

$body-overflow-y: auto;
$body-font-size: 1rem;
$body-line-height: 1.15;

$container-max-width: $widescreen;

$box-padding: $size-1;